<script src="js/administrativo/configuracion/jsConfEstrategia.js" type="text/javascript"></script>
<div class="row">
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
              <h2>Estrategias</h2>
            </div>
            <div class="ibox-content">
                  <table class="table-hover">
            <tr>
                <td><input type="radio" name="Estrategias" value="" /></td>
                <td>DescuentoAFavorDelCliente</td>
            </tr>
            <tr>
                <td><input type="radio" name="Estrategias" value="" /></td>
                <td>DescuentoAfavorDelNegocio</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Guardar" name="btnGuardar" onclick="modificarEstrategia();" /></td>
            </tr>
        </table>
  
                
            </div>
        </div>
      
    </div>
</div>